// Root

:root {
    --dark-mode-gray: rgb(64, 64 ,64);
    --light-mode-offwhite: #56585a4d;
  }

// Navbar

#navigation-bar {
    color: white;
    background-color: var(--dark-mode-gray);
}

.navbar-brand {
    margin-left: 50px;
    font-size: xx-large;
    color: white;
}

.navbar-links {
    margin-right: 200px;
    font-size: xx-large;
    margin-left: 50px;
}

.navbar-link {
    color: white;
    transition: all 0.1s ease-in-out;
}

.navbar-nav .nav-link.active {
    color: white;
}

.navbar-link:hover, .navbar-link.active {
    color: white;
    text-shadow: 0 0 10px gray, 0 0 20px gray, 0 0 30px gray;
}

#brand {
    pointer-events: none;
}

// Portrait

.portrait-container {
    display: flex;
    justify-content: center;
    height: 500px;
    margin-top: 2em;
}

.portrait {
    border-radius: 80px;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

// About

#light .about-me-card {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: var(--light-mode-offwhite);
    width: 50%;
    max-width: 1000px;
    min-width: 400px;
    font-size: x-large;
}

#dark .about-me-card {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: var(--dark-mode-gray);
    width: 50%;
    max-width: 1000px;
    min-width: 400px;
    font-size: x-large;
    color: white;
}

.about-me-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .about-me-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .about-me-card:nth-child(2) {
      margin-top: 20px;
    }
}

// Skills

#light .skills-container {
    box-shadow: 5px 5px 5px 10px grey;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    max-width: 1000px;
    min-width: 500px;
    border-radius: 10px;
    background-color: var(--light-mode-offwhite);
    color: black;
}

#dark .skills-container {
    box-shadow: 5px 5px 5px 10px grey;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    max-width: 1000px;
    min-width: 500px;
    border-radius: 10px;
    background-color: var(--dark-mode-gray);
    color: white;
}

.skill-bar {
    height: 30px;
    box-shadow: 10px 10px 5px grey;
}

@media screen and (max-width: 1520px) {
    .skill-label {
        display: none;
    }
}

.skill-label-container {
    font-size: 20px;
    text-align: right;
    display: inline;
    font-weight: bold;
}

.skill-row {
    margin: 10px 0px 15px 0px;
}

.skills-container img {
    max-height: 50px;
    float: left;
}

// Projects

#light #projects-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 95%;
    background-color: white;
    color: black;
}

#dark #projects-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 95%;
    background-color: black;
    color: white;
}

#light .project {
    box-shadow: 5px 5px 5px 5px grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: var(--light-mode-offwhite);
    color: black;
}

#dark .project {
    box-shadow: 5px 5px 5px 5px grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: var(--dark-mode-gray);
    color: white;
}

.project-description {
    font-size: 30px;
}

.project-screenshot {
    max-width: 100%;
}

@media (max-width: 1450px) {
    .project-row {
      flex-direction: column;
    }
  }

// Contact

#light .contact-form {
    padding: 20px;
    background-color: var(--light-mode-offwhite);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    margin-top: 50px;
    width: 50%;
    min-width: 500px;
    font-size: x-large;
}

#dark .contact-form {
    padding: 20px;
    background-color: var(--dark-mode-gray);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    margin-top: 50px;
    width: 50%;
    min-width: 500px;
    font-size: x-large;
    color: white;
}

#contact-form-container {
    padding-bottom: 50px;
}

// Footer

#footer {
    color: white;
    text-align: center;
    background-color: var(--dark-mode-gray);
}

#footer a {
    color: white;
    text-decoration: none;
}

// Scrolling behavior

.scroll-padded-item {
    scroll-margin-top: 100px;
}

// Light/Dark Mode

#light {
    background-color: white;
}

#dark {
    background-color: black;
}